.card-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  width: 300px;
  height: 400px;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px;
  transition: 0.2s ease;
  background-color: snow;
  position: relative;
}

.imgCard{
  max-width: 250px;
  max-height: 250px;
}

.product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product img {
  width: 100%;
  border-radius: 20px;
}

.product .details {
  text-align: start;
  padding: 10px 0; 
}

.details span {
  color: #8b8b8b;
  font-size: 1em;
}

.details h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 1.2em;
}

.details h4 {
  padding-top: 7px;
  font-size: 1.5em;
  font-weight: 700;
  color: #03AEA2;
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 30px;
  border-radius: 50px;
  background-color: #e8f6ea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 23px;
  right: 18px;
}
