.destaque{
    size: 50px;
    position: relative;
    text-align: center;
    color: #7e7e7e;
    margin-top: 20px;
    text-shadow: rgb(0, 0, 0);
    
  }

  :root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) ;
  }
  
  body {
    background-gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) ;
  }

  .carddev-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .carddev-img-top{
    width: 18.8rem;
    height: 18rem;
  }

  *, ::after, ::before {
    box-sizing: border-box;
}
  .carddev {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
    width: 19rem;
    word-wrap: break-word;
  }
  
  .btndev {
    border: 5px solid;
    padding: 0.75rem;
    border-image-slice: 1;
    background: var(--gradient) ;
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent ;
    border-image-source:  var(--gradient) ; 
    text-decoration: none;
    transition: all .8s ease-in-out;
  }
  
  .btndev:hover, .btndev:focus {
    
        background: var(--gradient) ;
    -webkit-background-clip: none ;
    -webkit-text-fill-color: #fff ;
    border: 5px solid #fff ; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }