.destaque{
    size: 60px;
    position: relative;
    text-align: center;
    color: rgb(87, 87, 87);
    margin-top: 20px;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 255, 255);
    font-weight: bold;
    
  }

.destaque2{
    position: relative;
    text-align: center;
    color: rgb(87, 87, 87);
    margin-top: 20px;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 255, 255);
}

.iniciativa{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.imginit{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.parar{
    text-align: center;
    margin: 20px 40px 20px 40px;
    size: 55px;
    color: #000;
}

.parar2{
  text-align: center;
  margin: 20px 40px 20px 40px;
  size: 60px;
  color: #000;
  font-weight: bolder;
}

