* {
    font-family: 'Varela Round', sans-serif;
}



.navbar {
	background: #fff;
	padding-left: 0 auto;
	/* padding-right: 100px;  */
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}

.navbar .navbar-brand {
	font-size: 50px;
	
}

.navbar .navbar-brand b {
	color: #3393ca;	
	size: 18px;	
}



.navbar a {
	color: #888;
	font-size: 20px;
	font-weight: bolder;
	/* padding: 0.5em 0.5em 0.5em 0.5em; */
}


.navbar a, .navbar a:active {
	color: #888;
	
	background: transparent;
	line-height: normal;
}

.navbar .action-form {
	width: 280px;
	padding: 10px;
	left: auto;
	right: 0;
	font-size: 14px;
}

.navbar .action-form a {		
	color: #3393ca;
	padding: 0 !important;
	font-size: 14px;
}


.btn-topo{
	float: right;
	background: #f0fafd;
	color: #5691ff;
	border-radius: 8px;
	
	margin: 0px 0px 0px 300px;
	line-height: 35px;
	font-weight: bold;
	font-size:medium;
	position: relative;
	z-index: 9999;
	text-decoration: none;
	outline: 0;
	max-width: 100%;
	size: 100px;
	width: 200px;
	border-color: #727f8a;
	opacity: 1;
}
	
.btn-topo:hover{
	transition: ease-in-out 0.3s;
	opacity: 0.8;
}

.logo-topo{
    width: 100px;
    /* max-height: 35px; */
    margin: 0px 0px 1px 0px;
    padding: 0;
}

.tudo-header{
    background-color: #333333;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin:0;
    position: sticky;
    width: 100%;
    cursor: pointer;
    
}

.menus {
    justify-content: center;
    padding: 0px 0 0 0;
    margin: 12px 20px 12px 20px;
    text-align: center;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    color: #ffffff;
}

.menus:hover{
    color: rgb(248, 191, 69)
}

