<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/cadastropeti.js') }}" defer></script>
    <title>Serviço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/servicos.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo"><a href="#">Irmãos de<span> estimação</span></a></div>
                <ul class="menu">
                    <li class="cadastro_irmao"><a href="/jobs">Serviços</a></li>
                    <li class="cadastro_irmao"><a class="menu-cadastro_trab">Anunciar Serviço</a></li>
                    <li class="cadastro_irmao"><a class="menu-cadastro_pet">Cadastrar Pet</a></li>
                    <li class="cadastro_irmao"><a href="/perfil" >Perfil</a></li>
                    <li class="cadastro_irmao"><a href="/logout">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jobs">
    {% for i in jobs %}
    <a href="/deletejob/{{i.id}}"> 
   <section class="job" id="job">
       {% for j in users %}
            {% if j.id == i.iduser %}
                <header class="titulo">
                    {{j.name}}
                </header>
                <article class="description">
                    <label>{{i.firstdate}} - {{i.lastdate}}</label>
                    <label>{{i.firsthour}} - {{i.lasthour}}</label>
                    <label>locação: {{j.endereco}}</label>
                    <label>valor por hora: {{i.valuehour}}</label>
                </article>
            {% endif %}
            </a>
       {% endfor %}
    </section>
    </a>
    {% endfor %}
    </div>
    <div id="modal_cadastro_trab" class="modal_container">
        <button class="fechar">x</button>
        <iframe src="/cadastrotrab"></iframe>
    </div>
    <section>
        <div id="modal_cadastro_pet" class="modal_container">
            <div class="modal_content">
                <button class="fechar">x</button>
    
                <div class="cadastro">
                    <h1>Cadastro do Pet</h1>
                </div>
                
                <iframe src="/cadastropet"></iframe>
            </div>    
        </div>
    </section>

</body>
</html> -->