.tudo-footer{
  width: 100%;
  height: auto;
  background-color: #f8f9fa;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: bold;
  letter-spacing: .1rem;
  
}

.tudo-footer p{
  color: #3393ca;
  text-decoration: none;
  margin: 10px 20px;
  font-size: 0.7rem;
  align-items: center;
}

.tudo-footer a{
  color: #3393ca;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: all 0.4s ease-out;
}

.tudo-footer a:hover{
  color: #ffaf06;
}